In [ ]:
#task01  okk
class Patient:
    def __init__(self,name,age,weight,height):
        self.name = name
        self.age = age
        self.weight = weight
        self.height = height
        self.BMI = self.weight/(self.height/100)**2
    def printDetails(self):
        print('Name: ',self.name)
        print('Age:',self.age)
        print('Weight:',self.weight )
        print('Height:',self.height )
        print("BMI:", self.BMI)
p1 = Patient("A", 55, 63.0, 158.0)
p1.printDetails()
print("====================")
p2 = Patient("B", 53, 61.0, 149.0)
p2.printDetails()

Name:  A
Age: 55
Weight: 63.0
Height: 158.0
BMI: 25.236340330075304
====================
Name:  B
Age: 53
Weight: 61.0
Height: 149.0
BMI: 27.476239809017613

In [ ]:
#task 02  okk
class Shape:
    def __init__(self,name,x,y):
        self.name = name
        self.x = x
        self.y = y
    def area(self):
        if self.name == "Triangle":
            self.area = 0.5* self.x * self.y
            print('Area:',self.area)
        elif self.name == "Square":
            self.area = self.x * self.y
            print(self.area)
        elif self.name == "Rectangle":
            self.area = self.x * self.y
            print(self.area)
        elif self.name == "Rhombus":
            self.area = ((self.x * self.y)/2)
            print(self.area)
        else:
            print('Area: Shape unknown')
triangle = Shape("Triangle",10,25)
triangle.area()
print("==========================")
square = Shape("Square",10,10)
square.area()
print("==========================")
rhombus = Shape("Rhombus",18,25)
rhombus.area()
print("==========================")
rectangle = Shape("Rectangle",15,30)
rectangle.area()
print("==========================")
trapezium = Shape("Trapezium",15,30)
trapezium.area()

Area: 125.0
==========================
100
==========================
225.0
==========================
450
==========================
Area: Shape unknown

In [ ]:
#task 03
class Calculator:
    def __init__(self):
        print('Calculator is ready!')
    def calculate(self,x,y,z):
        self.x = x
        self.y = y
        self.z = z
        if self.z == '+':
            val = self.x+self.y
            return val
            #val = self.val
        if self.z == '-':
            val = self.x - self.y
            return val
        if self.z == '*':
            val = self.x*self.y
            return val
        if self.z == '/':
            val = self.x/self.y
            return val
    def showCalculation(self):
        print(f"{self.x} {self.z} {self.y} = {self.calculate(self.x, self.y, self.z)}")
  c1 = Calculator()
print("==================")
val = c1.calculate(10, 20, '+')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 10, '-')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 5, '*')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 16, '/')
print("Returned value:", val)
c1.showCalculation()

Calculator is ready!
==================
Returned value: 30
10 + 20 = 30
==================
Returned value: 20
30 - 10 = 20
==================
Returned value: 100
20 * 5 = 100
==================
Returned value: 6.25
100 / 16 = 6.25

In [ ]:
#task04 okk
class Programmer:
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
        self.v = 'Horray! A new programmer is born'
    def printDetails(self):
        print(self.v)
        print('Name:',self.x)
        print('Language:',self.y)
        print('Experience:',self.z,'years')
    def addExp(self,z):
        self.v = 'Updating experience of Jon Snow'
        self.z=z
p1 = Programmer("Ethen Hunt", "Java", 10)
p1.printDetails()
print('--------------------------')
p2 = Programmer("James Bond", "C++", 7)
p2.printDetails()
print('--------------------------')
p3 = Programmer("Jon Snow", "Python", 4)
p3.printDetails()
p3.addExp(5)
p3.printDetails()

Horray! A new programmer is born
Name: Ethen Hunt
Language: Java
Experience: 10 years
--------------------------
Horray! A new programmer is born
Name: James Bond
Language: C++
Experience: 7 years
--------------------------
Horray! A new programmer is born
Name: Jon Snow
Language: Python
Experience: 4 years
Updating experience of Jon Snow
Name: Jon Snow
Language: Python
Experience: 5 years

In [ ]:
#task05  okk
class UberEats:
    def __init__(self,name,mobile,location):
        self.name = name
        self.mobile = mobile
        self.location = location
        print(f'{self.name},welcome to UberEats!')
    def add_items(self,m1,m2,p1,p2):
        self.m1 = m1
        self.m2 = m2
        self.p1 = p1
        self.p2 = p2
        self.d={}
        self.d[m1] = p1
        self.d[m2] = p2
    def print_order_detail(self):
        print(f'User details: Name: {self.name}, Phone:\n{self.mobile}, Address: {self.location}')
        print('Orders:',self.d)
        print('Total Paid Amount:',self.p1+self.p2)
order1 = UberEats("Shakib", "01719658xxx", "Mohakhali")
print("=========================")
order1.add_items("Burger", "Coca Cola", 220, 50)
print("=========================")
print(order1.print_order_detail())
print("=========================")
order2 = UberEats ("Siam", "01719659xxx", "Uttara")
print("=========================")
order2.add_items("Pineapple", "Dairy Milk", 80, 70)
print("=========================")
print(order2.print_order_detail())

Shakib,welcome to UberEats!
=========================
=========================
User details: Name: Shakib, Phone:
01719658xxx, Address: Mohakhali
Orders: {'Burger': 220, 'Coca Cola': 50}
Total Paid Amount: 270
None
=========================
Siam,welcome to UberEats!
=========================
=========================
User details: Name: Siam, Phone:
01719659xxx, Address: Uttara
Orders: {'Pineapple': 80, 'Dairy Milk': 70}
Total Paid Amount: 150
None

In [ ]:
#Task 6 okk
class Customer:
    def __init__(self,name):
        self.name = name
    def greet(self,name=None):
        if name == None:
            print('Hello!')
        else:
            print(f'Hello!,self.name')
    def purchase(self,*products):
        print(f'{self.name}, you purchased {len(products)} item(s):')
        for i in products:
            print(i)
customer_1 = Customer("Sam")
customer_1.greet()
customer_1.purchase("chips", "chocolate", "orange juice")
print("-----------------------------")
customer_2 = Customer("David")
customer_2.greet("David")
customer_2.purchase("orange juice")

Hello!
Sam, you purchased 3 item(s):
chips
chocolate
orange juice
-----------------------------
Hello!,self.name
David, you purchased 1 item(s):
orange juice

In [ ]:
#task07 okk
class Cat:
    def __init__(self,name='White',t='sitting'):
        self.name = name
        self.t=t
    def printCat(self):
        print(f'{self.name} cat is {self.t}')
    def changeColor(self,x):
        self.name = x
c1 = Cat()
c2 = Cat("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()

White cat is sitting
Black cat is sitting
Brown cat is jumping
Red cat is purring
Blue cat is sitting
Purple cat is jumping

In [ ]:
#task08 okk
class Student:
    def __init__(self,*n):
        if len(n) == 3:
            self.name = n[0]
            self.id = n[1]
            self.dept = n[2]
        elif len(n) == 2:
            self.name = n[0]
            self.id = n[1]
            self.dept = 'CSE'
    def dailyEffort(self,x):
        self.df = x
    def printDetails(self):
        print('Name:',self.name)
        print('ID:',self.id)
        print('Department:',self.dept)
        print('Daily Effort:', self.df,'hour(s)')
        if self.df <=2:
            print('Suggestion: Should give more effort!')
        elif self.df <= 4:
            print('Suggestion: Keep up the good work!')
        else:
            print('Suggestion: Excellent! Now motivate others.')
harry = Student('Harry Potter', 123)
harry.dailyEffort(3)
harry.printDetails()
print('========================')
john = Student("John Wick", 456, "BBA")
john.dailyEffort(2)
john.printDetails()
print('========================')
naruto = Student("Naruto Uzumaki", 777, "Ninja")
naruto.dailyEffort(6)
naruto.printDetails()

Name: Harry Potter
ID: 123
Department: CSE
Daily Effort: 3 hour(s)
Suggestion: Keep up the good work!
========================
Name: John Wick
ID: 456
Department: BBA
Daily Effort: 2 hour(s)
Suggestion: Should give more effort!
========================
Name: Naruto Uzumaki
ID: 777
Department: Ninja
Daily Effort: 6 hour(s)
Suggestion: Excellent! Now motivate others.

In [ ]:
#task09   okk
class Batsman:
    def __init__(self,*x):
        if type(x[0])!=str and len(x)==2:
            self.name = 'New Batsman'
            self.rs = x[0]
            self.bf = x[1]
        if type(x[0])==str and len(x)==3:
            self.name = x[0]
            self.rs = x[1]
            self.bf = x[2]
        if type(x[0])==str and len(x)==1:
            self.name = x[0]
    def printCareerStatistics(self):
        print('Name:',self.name)
        print('Runs Scored:',self.rs,'Balls Faced:',self.bf)
    def battingStrikeRate(self):
        self.bsr = (self.rs/self.bf)*100
        return self.bsr
    def setName(self,name):
        self.name=name
b1 = Batsman(6101, 7380)
b1.printCareerStatistics()
print("============================")
b2 = Batsman("Liton Das",678, 773)
b2.printCareerStatistics()
print("----------------------------")
print(b2.battingStrikeRate())
print("============================")
b1.setName("Shakib Al Hasan")
b1.printCareerStatistics()
print("----------------------------")
print(b1.battingStrikeRate())

Name: New Batsman
Runs Scored: 6101 Balls Faced: 7380
============================
Name: Liton Das
Runs Scored: 678 Balls Faced: 773
----------------------------
87.71021992238033
============================
Name: Shakib Al Hasan
Runs Scored: 6101 Balls Faced: 7380
----------------------------
82.66937669376694

In [ ]:
#task10  okk
class Author:
    def __init__(self,name='Default',*books):
        self.name = name
        self.books = books
    def addBooks(self,*books):
        self.books = books
    def changeName(self,name):
        self.name = name
    def printDetails(self):
        print('Author Name:',self.name)
        print('--------')
        for i in self.books:
            print(i)
auth1 = Author('Humayun Ahmed')
auth1.addBooks('Deyal', 'Megher Opor Bari')
auth1.printDetails()
print("===================")
auth2 = Author()
print(auth2.name)
auth2.changeName('Mario Puzo')
auth2.addBooks('The Godfather', 'Omerta', 'The Sicilian')
print("===================")
auth2.printDetails()
print("===================")
auth3 = Author('Paolo Coelho', 'The Alchemist', 'The Fifth Mountain')
auth3.printDetails()

Author Name: Humayun Ahmed
--------
Deyal
Megher Opor Bari
===================
Default
===================
Author Name: Mario Puzo
--------
The Godfather
Omerta
The Sicilian
===================
Author Name: Paolo Coelho
--------
The Alchemist
The Fifth Mountain

In [ ]:
#task 11
class TaxiLagbe:
    def __init__(self, number, loc):
        self.number = number
        self.area = loc
        self.passenger_list = {}
    def addPassenger(self, *passengers):

        self.count = 0
        for key in self.passenger_list.keys():
            self.count = self.count + 1
        #print(self.passenger_list)
        if self.count < 4:
            for i in passengers:
                list1 = []
                list1 = i.split("_")
                self.passenger_list[list1[0]] = int(list1[1])
                print(f"Dear {list1[0]}! Welcome to TaxiLagbe")
            for keys in self.passenger_list.keys():
                pass
        else:
            print('Taxi Full! No more passengers can be added.')
    def printDetails(self):
        print(f'Trip info for Taxi number:{self.number}')
        print(f"This taxi can cover only {self.area} area.")
        self.counter = 0
        for i in self.passenger_list.keys():
            self.counter = self.counter + 1
        print(f"Total passengers: {self.counter}")
        self.fare = 0
        self.list0 = []
        for key, value in self.passenger_list.items():
            self.fare = (self.fare) + int(value)
            self.list0.append(key)
        me = 0
        print("Passengers list: ")
        for i in self.list0:
            me = me + 1
            if me != len(self.list0):
                print(i, end=', ')
            else:
                print(i, end= '')
        print('')
        print(f"Total collected fare: {self.fare} taka")
taxi1 = TaxiLagbe('1010-01', 'Dhaka')
print('-------------------------------')
taxi1.addPassenger('Walker_100', 'Wood_200')
taxi1.addPassenger('Matt_100')
taxi1.addPassenger('Wilson_105')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi1.addPassenger('Karen_200')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi2 = TaxiLagbe('1010-02', 'Khulna')
taxi2.addPassenger('Ronald_115')
taxi2.addPassenger('Parker_215')
print('-------------------------------')
taxi2.printDetails()

-------------------------------
Dear Walker! Welcome to TaxiLagbe
Dear Wood! Welcome to TaxiLagbe
Dear Matt! Welcome to TaxiLagbe
Dear Wilson! Welcome to TaxiLagbe
-------------------------------
Trip info for Taxi number:1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passengers list:
Walker, Wood, Matt, Wilson
Total collected fare: 505 taka
-------------------------------
Taxi Full! No more passengers can be added.
-------------------------------
Trip info for Taxi number:1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passengers list:
Walker, Wood, Matt, Wilson
Total collected fare: 505 taka
-------------------------------
Dear Ronald! Welcome to TaxiLagbe
Dear Parker! Welcome to TaxiLagbe
-------------------------------
Trip info for Taxi number:1010-02
This taxi can cover only Khulna area.
Total passengers: 2
Passengers list:
Ronald, Parker
Total collected fare: 330 taka

In [ ]:
#task12  okk
class Account:
    def __init__(self,name = 'Default Account',balance = 0.0):
        self.name = name
        self.balance = balance
    def details(self):
        return (f"{self.name}\n{self.balance}")
    def withdraw(self,x):
        self.x = x
        if self.x>= self.balance or (self.balance-self.x)<=3070:
            print('Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.')
        else:
            print(f'Withdraw successful! New balance is:\n{self.balance-self.x}')
a1 = Account()
print(a1.details())
print("------------------------")
a1.name = "Oliver"
a1.balance = 10000.0
print(a1.details())
print("------------------------")
a2 = Account("Liam")
print(a2.details())
print("------------------------")
a3 = Account("Noah",400)
print(a3.details())
print("------------------------")
a1.withdraw(6930)
print("------------------------")
a2.withdraw(600)
print("------------------------")
a1.withdraw(6929)

Default Account
0.0
------------------------
Oliver
10000.0
------------------------
Liam
0.0
------------------------
Noah
400
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Withdraw successful! New balance is:
3071.0

In [ ]:
#task 13 okk
class StudentDatabase:
    def __init__(self,name,id):
        self.name = name
        self.id = id
        self.d = {}
        self.grades = {}
    def calculateGPA(self,lst,sem):
        self.lst = lst
        self.sem = sem
        self.tup = []
        self.cg = 0.0
        for i in self.lst:
            self.m,self.n=i.split(':')
            self.tup.append(self.m)
            self.cg+=float(self.n)
        self.d[tuple(self.tup)] = self.cg/len(self.lst)
        self.grades[self.sem] = self.d
    def printDetails(self):
        print('Name: ', self.name)
        print('ID: ', self.id)
        for key, value in self.grades.items():
             print(f"Courses taken in {key} :")
             for i,j in value.items():
                 for k in i:
                     print(k)
                 print(f"GPA: {j}")
s1 = StudentDatabase('Pietro', '10101222')
s1.calculateGPA(['CSE230: 4.0', 'CSE220: 4.0', 'MAT110: 4.0'],
'Summer2020')
s1.calculateGPA(['CSE250: 3.7', 'CSE330: 4.0'], 'Summer2021')
print(f'Grades for {s1.name}\n{s1.grades}')
print('------------------------------------------------------')
s1.printDetails()
s2 = StudentDatabase('Wanda', '10103332')
s2.calculateGPA(['CSE111: 3.7', 'CSE260: 3.7', 'ENG101: 4.0'],
'Summer2022')
print('------------------------------------------------------')
print(f'Grades for {s2.name}\n{s2.grades}')
print('------------------------------------------------------')
s2.printDetails()

Grades for Pietro
{'Summer2020': {('CSE230', 'CSE220', 'MAT110'): 4.0, ('CSE250', 'CSE330'): 3.85}, 'Summer2021': {('CSE230', 'CSE220', 'MAT110'): 4.0, ('CSE250', 'CSE330'): 3.85}}
------------------------------------------------------
Name:  Pietro
ID:  10101222
Courses taken in Summer2020 :
CSE230
CSE220
MAT110
GPA: 4.0
CSE250
CSE330
GPA: 3.85
Courses taken in Summer2021 :
CSE230
CSE220
MAT110
GPA: 4.0
CSE250
CSE330
GPA: 3.85
------------------------------------------------------
Grades for Wanda
{'Summer2022': {('CSE111', 'CSE260', 'ENG101'): 3.8000000000000003}}
------------------------------------------------------
Name:  Wanda
ID:  10103332
Courses taken in Summer2022 :
CSE111
CSE260
ENG101
GPA: 3.8000000000000003

In [ ]:
#Task 14  Tracing
class Test3:
    def __init__(self):
        self.sum, self.y = 0, 0
    def methodA(self):
        x, y = 2, 3
        msg = [0]
        msg[0] = 3
        y = self.y + msg[0]
        self.methodB(msg, msg[0])
        x = self.y + msg[0]
        self.sum = x + y + msg[0]
        print(x, y, self.sum)
    def methodB(self, mg2, mg1):
        x = 0
        self.y = self.y + mg2[0]
        x = x + 33 + mg1
        self.sum = self.sum + x + self.y
        mg2[0] = self.y + mg1
        mg1 = mg1 + x + 2
        print(x, self.y, self.sum)
t3 = Test3()
t3.methodA()
t3.methodA()
t3.methodA()
t3.methodA()

36 3 39
9 3 18
36 6 60
15 6 30
36 9 75
21 9 42
36 12 90
27 12 54

In [ ]:
#Task 15
class Test5:
    def __init__(self):
        self.sum, self.y = 0, 0
    def methodA(self):
        x = 0
        z = 0
        while (z < 5):
            self.y = self.y + self.sum
            x = self.y + 1
            print(x, self.y, self.sum)
            self.sum = self.sum + self.methodB(x, self.y)
            z += 1
    def methodB(self, m, n):
        x = 0
        sum = 0
        self.y = self.y + m
        x = n - 4
        sum = sum + self.y
        print(x, self.y, sum)
        return self.sum
t5 = Test5()
t5.methodA()

1 0 0
-4 1 1
2 1 0
-3 3 3
4 3 0
-1 7 7
8 7 0
3 15 15
16 15 0
11 31 31

In [ ]:
#Task 16
class FinalT6A:
    def __init__(self, x, p):
        self.temp, self.sum, self.y = 4, 0, 1
        self.temp += 1
        self.y = self.temp - p
        self.sum = self.temp + x
        print(x, self.y, self.sum)
    def methodA(self):
        x = 0
        y = 0
        y = y + self.y
        x = self.y + 2 + self.temp
        self.sum = x + y + self.methodB(self.temp, y)
        print(x, y, self.sum)
    def methodB(self, temp, n):
        x = 0
        temp += 1
        self.y = self.y + temp
        x = x + 3 + n
        self.sum = self.sum + x + self.y
        print(x, self.y, self.sum)
        return self.sum

q1 = FinalT6A(2,1)
q1.methodA()
q1.methodA()

2 4 7
7 10 24
11 4 39
13 16 68
17 10 95

In [ ]:
#Task 17
class Test5:
  def __init__(self):
      self.sum = 0
      self.y = 0
  def methodA(self):
      x=y=k=0
      msg = [5]
      while (k < 2):
          y += msg[0]
          x = y + self.methodB(msg, k)
          self.sum = x + y + msg[0]
          print(x ," " , y, " " , self.sum)
          k+=1
  def methodB(self, mg2, mg1):
        x = 0
        self.y += mg2[0]
        x = x + 3 + mg1
        self.sum += x + self.y
        mg2[0] = self.y + mg1
        mg1 += x + 2
        print(x , " " ,self.y, " " , self.sum)
        return mg1
t1 = Test5()
t1.methodA()
t1.methodA()
t1.methodA()

3   5   8
10   5   20
4   10   34
17   10   38
3   15   56
10   5   30
4   30   64
27   20   78
3   35   116
10   5   50
4   70   124
47   40   158

In [ ]:
#Task 18
class Test4:
    def __init__(self):
        self.sum, self.y = 0, 0
    def methodA(self):
        x, y = 0, 0
        msg = [0]
        msg[0] = 5
        y = y + self.methodB(msg[0])
        x = y + self.methodB(msg, msg[0])
        self.sum = x + y + msg[0]
        print(x, y, self.sum)
    def methodB(self, *args):
        if len(args) == 1:
            mg1 = args[0]
            x, y = 0, 0
            y = y + mg1
            x = x + 33 + mg1
            self.sum = self.sum + x + y
            self.y = mg1 + x + 2
            print(x, y, self.sum)
            return y
        else:
            mg2, mg1 = args
            x = 0
            self.y = self.y + mg2[0]
            x = x + 33 + mg1
            self.sum = self.sum + x + self.y
            mg2[0] = self.y + mg1
            mg1 = mg1 + x + 2
            print(x, self.y, self.sum)
            return self.sum
t3 = Test4()
t3.methodA()
t3.methodA()
t3.methodA()
t3.methodA()

In [ ]:
#Task 19
class msgClass:
    def __init__(self):
        self.content = 0
class Q5:
    def __init__(self):
        self.sum = 1
        self.x = 2
        self.y = 3
    def methodA(self):
        x, y = 1, 1
        msg = []
        myMsg = msgClass()
        myMsg.content = self.x
        msg.append(myMsg)
        msg[0].content = self.y + myMsg.content
        self.y = self.y + self.methodB(msg[0])
        y = self.methodB(msg[0]) + self.y
        x = y + self.methodB(msg[0], msg)
        self.sum = x + y + msg[0].content
        print(x," ", y," ", self.sum)
    def methodB(self, mg1, mg2 = None):
        if mg2 == None:
            x, y = 5, 6
            y = self.sum + mg1.content
            self.y = y + mg1.content
            x = self.x + 7 +mg1.content
            self.sum = self.sum + x + y
            self.x = mg1.content + x +8
            print(x, " ", y," ", self.sum)
            return y
        else:
            x = 1
            self.y += mg2[0].content
            mg2[0].content = self.y + mg1.content
            x = x + 4 + mg1.content
            self.sum += x + self.y
            mg1.content = self.sum - mg2[0].content
            print(self.x, " ",self.y," ", self.sum)
            return self.sum
q = Q5()
q.methodA()

14   6   21
39   26   86
52   36   168
225   57   409